body {
    background-color: rgba(34, 9, 9, 0.856); /* Negro claro medio transparente */
  }
#envelope {
    margin: 150px;
    position: relative;
    width: 280px;
    height: 180px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    background-color: #f9c5c8;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .front {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
  }
  
  .flap {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-bottom: 82px solid transparent;
    border-top: 98px solid #ff3333;
    transform-origin: top;
    pointer-events: none;
  }
  
  .pocket {
    border-left: 140px solid #ee7070;
    border-right: 140px solid #c96363;
    border-bottom: 90px solid #a04b4b;
    border-top: 90px solid transparent;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 6px;
  }
  
  .letter {
    position: relative;
    background-color: #cf4950;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    top: 5%;
    border-radius: 6px;
    box-shadow: 0 2px 226px rgb(255, 175, 175);
  }
  
  .letter:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
  }
  
  .words {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 14%;
    
  }
  
  .words.line1 {
    top: 15%;
    width: 20%;
    height: 7%;
  }
  
  .words.line2 {
    top: 30%;
  }
  
  .words.line3 {
    top: 50%;
  }
  
  .words.line4 {
    top: 70%;
  }
  
  .open .flap {
    transform: rotateX(180deg);
    transition: transform 0.4s ease, z-index 0.6s;
    z-index: 1;
  }
  
  .close .flap {
    transform: rotateX(0deg);
    transition: transform 0.4s ease 0s;
    z-index: 3;
  }
  
  .open .hearts {
    display: block;
  }
  
  .close .hearts {
    display: none;
  }
  
  .zoom {
    transform: scale(3.8);
    transition: transform 0.9s ease;
  }
  
  .letter-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-weight: bold;
    color: #140808;
    display: none;
    
  }

  .card {
    
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .card.zoom {
    
    opacity: 10;
    transform: scale(2.9);
    transition: transform 0.5s ease, opacity 0.8s ease;
  }
  
  

  .letter.zoom .front {
    display: none;
  }

  aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .audio-box {
    background-color: #000000;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px; /* ancho del contenedor */
  }
  
  .audio-box p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #ddd;
  }
  
  .audio-box audio {
    width: 100%; /* ancho del audio */
  }
  
  .btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
  }
  .btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
  }
